*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    display: block;
}
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 2rem;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    padding: .2rem;
    margin: 0 1rem;
}
.navbar ul li a{
    text-decoration: none;
}

.first-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 60vh;
    gap: 2px;
    margin: 0 0 3rem 0;
}

.first-container .first-left h1 span{
    color: #720272;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
}
.first-container .first-left{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: whitesmoke; */
}

.first-container .first-right{
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
}

.second-container{
    height: 60vh;
    background-color: #af00af;
}

.first-container .first-right img{
    width: 80%;
    height: auto;
}